.ant-modal-header {
  border: 0px !important;
}
.ant-modal-footer {
  border: 0px !important;
}
.anticon {
  position: relative;
  top: -3px !important;
}
.pointer:hover {
  cursor: pointer;
}
.els {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
