.ant-modal-header {
  border: 0px !important;
}
.ant-modal-footer {
  border: 0px !important;
}
.anticon {
  position: relative;
  top: -3px !important;
}
.pointer:hover {
  cursor: pointer;
}
.els {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.video-item {
  margin: 5px;
  flex: 0 0 23%;
}

.video-grid-focus {
  overflow: hidden auto;
  position: relative;
  top: -5px;
  display: block !important;
  margin: 0px !important;
}

#video-grid video {
  background: #000;
  height: 200px;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  margin: 0px 10px;
}
.main-video {
  height: calc(100vh - 150px);
  background: #000;
  border-radius: 8px;
  object-fit: contain;
}
.user-name-video {
  position: absolute;
  z-index: 10;
  color: #adadad;
  left: 20px;
  top: 10px;
  background: rgb(0, 0, 0, .4);
  padding: 0px 8px;
  border-radius: 10px;
}